@tailwind base;
@tailwind components;
@tailwind utilities;
.percentage {
  position: relative;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8) !important;
  font-weight: 600;
}

#bg-img {
  background-image: url("/intro_bg.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  width: 100vw; /* Full width of viewport */
  height: 100vh; /* Full height of viewport */
}
